{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    <link rel="preload" href="{{ asset('build/images/about.jpg') | imagine_filter('my_thumb_webp') }}" type="image/webp"
          as="image">
{% endblock %}
{% block body %}

    <!-- Section à propos -->
    <section id="about" class="pb-5">
        <div class="container">
            <div id="about-bg">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>{{template.description.title}}</h2>
                        {{template.description.description|raw}}
                        <!--<a href="#" class="btn btn-primary btn-lg mt-3 mb-3">En savoir plus</a>-->
                    </div>
                    <div class="col-md-6">
                        <picture>
                            <source srcset="{{ asset('build/images/about.jpg') | imagine_filter('my_thumb_png') }}"
                                    type="image/png">
                            <source srcset="{{ asset('build/images/about.jpg') | imagine_filter('my_thumb_webp') }}"
                                    type="image/webp">
                            <img src="{{ asset('build/images/about.jpg') | imagine_filter('my_thumb_webp') }}"
                                 alt="Salle de réunion avec une table en bois." width="636" height="509"
                                 class="img-fluid"
                                 title="Salle de réunion avec une table en bois." decoding="sync" loading="lazy">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section de services -->
    <section id="services" class="pb-5">
        <div class="container">
            <h3 class="section-title text-center">Mes Produits</h3>
            <div class="d-flex justify-content-between gap-3 flex-md-row flex-column">
                {% for services in template.services %}
                    {% if services.title is not empty %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body pb-0 h-100">
                                <div class="card-content">
                                    <h4 class="card-title position-relative">
                                        {{ services.title }}
                                    </h4>
                                </div>
                                <div class="card-text">
                                    <p>
                                        {{ services.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="card-body text-center p-0 pb-4 align-content-center">
                                <a class="btn" href="{{path('app_contact')}}"><span class="badge text-bg-primary fs-3">* {{ services.price }} €</span></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="col-12">
                <div><p>* Les prix sont donnés à titre indicatif et peuvent varier en fonction des prestations. Ils ne sont pas assujettis à la TVA.</p></div>
            </div>
        </div>
    </section>

    <!-- Section de contact -->

    <section id="contact">
        <div class="svg_figure_top"></div>
        <div class="container">
            <h3 class="section-title text-center">Contactez-moi</h3>
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5">
                    {{ component('ContactForm') }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}