{% set perm = is_granted('ROLE_DEV') %}
{% set menuActive = app.request.attributes.get('_route') %}
{% set subMenuActive = app.request.attributes.get('_route') %}

<nav class="d-flex flex-column flex-shrink-0 p-3 shadow-lg h-100 bg-dark border-end">
    <div class="d-flex align-items-center">
        <a href="{{ path('app_adm_accueil') }}" class="col-10 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <i class="bi bi-tools fs-4 me-2"></i>
            <span class="fs-4">{{ 'admin.title'|trans({}, 'admin') }}</span>
        </a>
    </div>
    <hr class="text-bg-dark" />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link text-white {{ menuActive == 'app_user_adm_index' ? 'active' }}"
                href="{{ path('app_user_adm_index') }}">
                <i class="bi bi-users pe-1"></i> {{ 'admin.user'|trans({}, 'user') }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white {{ menuActive == 'app_contact_adm_index' ? 'active' }}"
                href="{{ path('app_contact_adm_index') }}">
                <i class="bi bi-envelope-at"></i> {{ 'admin.title'|trans({}, 'contact') }}
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white {{ menuActive == 'app_module_admin' ? 'active' }}" href="#"
                id="modulesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-puzzle"></i> {{ 'admin.module.title'|trans({}, 'admin') }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="modulesDropdown">

            </ul>
        </li>
        <hr class="text-bg-dark" />
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white {{ menuActive starts with 'app_config' ? 'active' }}" href="#"
                id="settingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear"></i> {{ 'admin.settings.title'|trans({}, 'admin') }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="settingsDropdown">
                <li><a class="dropdown-item" href="{{ path('app_config_adm_index') }}">{{
                        'admin.settings.general'|trans({}, 'admin') }}</a></li>
                <li><a class="dropdown-item" href="{{ path('app_config_template_admin') }}">{{
                        'admin.template.title'|trans({}, 'template') }}</a></li>
                {% if perm %}
                <li><a class="dropdown-item" href="{{ path('app_module_admin') }}">{{
                        'admin.module.params.title'|trans({}, 'module') }}</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>